c++/primeraclase/PrimeraClase.cbp
c++/primeraclase/PrimeraClase.depend
c++/primeraclase/PrimeraClase.layout
c++/primeraclase/bin
c++/primeraclase/obj
javascript/node/clase1-intro/node_modules
javascript/node/clase2-api-rest/node_modules
javascript/node/clase1-intro/package-lock.json
javascript/node/clase2-api-rest/package-lock.json